<div class="row">
  <div class="col-md-12">
      <div class="row" style="padding-top: 5px; margin: 30px;padding: 20px">
          <div class="col-md-3" style=" padding-top: 30px;">
            <hr size="40">
          </div>
          <div class="col-md-6">
            <div class="tittle text-center">
              <h2>Burrito</h2>
             </div>
          </div>
          <div class="col-md-3" style=" padding-top: 30px;">
            <hr size="40">
          </div>
        </div>
    <div class="row">
      <div class="container marketing">
        <div class="row justify-content-md-center" style="padding-top: 30px">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                  <div class="card bg-dark text-white">
                    <img class="card-img" src="../../assets/img/RecetaCategoria.Prueba.jpg" alt="Card image">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card border-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Dsfrurta</div>
                    <div class="card-body">
                      <p class="card-text">Un burrito se disfruta en cualquier ocasión, nutritivo y delicioso.</p>
                    </div>
                    <p class="card-text" style="padding-left: 18px">Tiempo: 40 min</p>
                    <p class="card-text" style="padding-left: 18px">Dificultad: Media</p>
                    <div class="row justify-content-md-center">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-5">
                            <p class="card-text" style="padding-left: 18px">Porciones:</p>
                          </div>
                          <div class="col-md-7">
                            <div class="btn-group">
                              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Tu elijes
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">2</a>
                                <a class="dropdown-item" href="#">3</a>
                                <a class="dropdown-item" href="#">4</a>
                                <a class="dropdown-item" href="#">6</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">12</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr-margin-top">
      </div>
    </div>
    <div class="container marketing">
      <div class="row justify-content-md-center" style="padding-top: 30px">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <h5 class="tittle text-center">Ingredientes</h5>
              <hr>
              <p class="card-text"> 400 gr de Carne de Res Molida </p>
              <p class="card-text"> 1 taza de Frijoles Refritos (200 gr) </p>
              <p class="card-text"> 1/2 taza de Queso Rallado que derrita (100 gr)</p>
              <p class="card-text"> 6 Tortillas de Harina Extra-Grandes (360 gr)</p>
              <p class="card-text"> 2 Jitomates (400 gr)</p>
              <p class="card-text"> 1/4 de Lechuga (100 gr)</p>
              <p class="card-text"> 1/2 Cebolla (70 gr) </p>
              <p class="card-text"> 2 cucharadas de Aceite de Oliva</p>
              <p class="card-text"> 1/2 cucharada de Sal</p>
              <button type="button" class="btn btn-outline-info" style="float:right">Agregar al Carrito</button>
            </div>
            <div class="col-md-7">
                <h5 class="tittle text-center">Prearación</h5>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                    aria-selected="true">Corte Ingredientes </a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                    aria-selected="false">Cocine el Relleno </a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                    aria-selected="false">Haga los Burritos</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <p class="card-text" style="margin-top: 10px">Corte en tiras 1/4 de lechuga, al finalizar reserve.</p>
                  <p class="card-text">Corte en cuadritos 1/2 cebolla y 2 jitomates; al finalizar reserve.</p>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <p class="card-text" style="margin-top: 10px">Caliente en una sartén a fuego medio-alto 2 cucharadas de aceite de oliva.</p>
                  <p class="card-text">Ponga en la sartén los cuadritos de cebolla que cortó y fríalos por 1 minuto aproximadamente, hasta que
                    la cebolla se vea un poco transparente; mueva regularmente.</p>
                  <p class="card-text">Incorpore en la sartén 400 gr de carne de res molida y fríala por unos 5 minutos, hasta que esté medianamente
                    cocida; mueva regularmente.</p>
                  <p class="card-text">Ponga en la sartén:</p>
                  <p class="card-text">1 taza de Frijoles Refritos.</p>
                  <p class="card-text">1/2 cucharada de Sal.</p>
                  <p class="card-text"> Mezcle los ingredientes de la sartén y fríalos por unos 2 minutos, hasta que la carne esté bien cocida;
                    mueva regularmente. Al finalizar reserve.</p>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <p class="card-text" style="margin-top: 10px">Caliente en un comal a fuego medio 1 tortilla de harina extragrande por unos 30 segundos por cada lado,
                    hasta que esté bien caliente.</p>
                  <p class="card-text">Retire la tortilla del comal y ponga en el centro de la tortilla los siguientes ingredientes en el mismo
                    orden que se dan:</p>
                  <p class="card-text">Un poco de Queso Rallado que derrita.</p>
                  <p class="card-text">Un poco del Relleno que se cocinó.</p>
                  <p class="card-text">Unos cuadritos de los Jitomates que cortó.</p>
                  <p class="card-text">Unas tiras de la Lechuga que cortó.</p>
                  <p class="card-text">El queso se pone entre la tortilla caliente y el relleno caliente para que el calor de estos 2 ingredientes
                    lo vayan derritiendo.</p>
                  <p class="card-text">Doble los extremos de la tortilla hacia adentro y después enrolle el burrito de carne; al finalizar sírvalo.</p>
                  <p class="card-text">Repita el mismo procedimiento con otras 5 tortillas de harina.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row" style="padding-top: 5px; margin: 30px;padding: 20px">
        <div class="col-md-3" style=" padding-top: 30px;">
          <hr size="40">
        </div>
        <div class="col-md-6">
          <div class="tittle text-center">
            <h2>Danos tu opinión</h2>
           </div>
        </div>
        <div class="col-md-3" style=" padding-top: 30px;">
          <hr size="40">
        </div>
      </div>
  </div>
</div>