<div class="row">
  <div class="col-md-12">
    <div class="row" style="padding-top: 5px; margin: 30px;padding: 20px">
      <div class="col-md-3" style=" padding-top: 30px;">
        <hr size="40">
      </div>
      <div class="col-md-6">
        <div class="tittle text-center">
          <h2>¡Categorias!</h2>
          <p>¡Nuevas Undades y Equivalencias!</p>
        </div>
      </div>
      <div class="col-md-3" style=" padding-top: 30px;">
        <hr size="40">
      </div>
    </div>
    <div class="container marketing">
      <div class="row justify-content-md-center" style="padding-top: 30px">
        <div class="col-md-12">
          <div class="row justify-content-md-center">
            <div class="col-md-6">
              <form>
                <h3> Unidades </h3>
                <div class="form-row">
                  <div class="form-group col-md-7">
                    <label for="inputEmail4">Agrega la unidad o objeto requerido</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nuevo">
                  </div>
                  <div class="form-group col-md-5">
                      <button type="submit" class="btn btn-outline-success" style="margin-top: 30px">Agregar</button>
                  </div>
                </div>
                <h3>Equivalencias</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" style="float:right">Nombre</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Valor">
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">= Valor</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Valor">
                      <input type="text" class="form-control" id="inputPassword4" placeholder="Nombre">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success" style="float:right">Agregar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


   
  </div>
</div>
