<div class="row">
  <div class=col-md-12>
    <div class="row" style="padding-top: 5px; margin: 30px;padding: 20px">
      <div class="col-md-3" style=" padding-top: 10px;">
        <hr size="40">
      </div>
      <div class="col-md-6">
        <div class="tittle text-center">
          <h2>Pedido</h2>
          <p>¡Navega por las categorias y encentra recetas que que ni conocias!</p>
        </div>
      </div>
      <div class="col-md-3" style=" padding-top: 10px;">
        <hr size="40">
      </div>
    </div>
    <div class="container marketing">
      <div class="row justify-content-md-center" style="padding-top: 30px">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr style="text-align:center">
                <th scope="col">Receta</th>
                <th scope="col">Producto</th>
                <th scope="col">Mínimo Venta [Producto Presentación]</th>
                <th scope="col">Pedido [A entregar]</th>
                <th scope="col">Precio Pedido</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>4 Tazas</td>
                <td>Arroz Blanco</td>
                <td>
                  <div class="row justify-content-md-center">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px">2 BOLSA</p>
                        </div>
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px"> $16.0</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row justify-content-md-center">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px">2 BOLSAS</p>
                        </div>
                        <div class="col-md-6">
                          <div class="btn-group">
                            <div class="form-group" style="padding-left: 18px; padding-top: 18px">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="text-align: right"> $ 33.00 </td>
                <th scope="row" style="text-align: center">
                  <button type="button" class="btn btn-outline-info">X</button>
                </th>
              </tr>
              <tr>
                <td>400 GRS</td>
                <td>Arroz Integral</td>
                <td>
                  <div class="row justify-content-md-center">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px">1 BOLSA</p>
                        </div>
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px"> $18.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row justify-content-md-center">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px">1 BOLSA</p>
                        </div>
                        <div class="col-md-6">
                          <div class="btn-group">
                            <div class="form-group" style="padding-left: 18px; padding-top: 18px">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="text-align: right"> $ 18.00 </td>
                <th scope="row" style="text-align: center">
                  <button type="button" class="btn btn-outline-info">X</button>
                </th>
              </tr>
              <tr>
                <td>10 PZAS</td>
                <td>Jitomate</td>
                <td>
                  <div class="row justify-content-md-center">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px">1 Pza</p>
                        </div>
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px"> $6.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row justify-content-md-center">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-text" style="padding-left: 18px; padding-top: 18px">10 Pza</p>
                        </div>
                        <div class="col-md-6">
                          <div class="btn-group">
                            <div class="form-group" style="padding-left: 18px; padding-top: 18px">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="text-align: right"> $ 56.00 </td>
                <th scope="row" style="text-align: center">
                  <button type="button" class="btn btn-outline-info">X</button>
                </th>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="width: 18rem;" style="float:right">
                <div class="card-body">
                  <h5 class="card-title">Total del Pedido</h5>
                  <p class="card text-center">$ 107.00 </p>
                  <a href="#" class="btn btn-primary" style="float:right">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>