.tittle {
    padding: 20px; 
    position: relative;
}

.contener {
    border: 30px;
}

hr {
    color: black;
    font-size: 20px;
    }

    .header img {
        float: left;
        width: 100px;
        height: 100px;
        background: #555;
      }
      
      .header h1 {
        position: relative;
        top: 18px;
        left: 10px;
      }
