<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <video class="landing-page-video" poster="https://image-service.blueapron.com/render/q/quality/75/src/https%3A%2F%2Fmedia.blueapron.com%2Fhome_page%2FSplash%2Fbrand-hero-poster.jpg"
          preload="auto" autoplay="" loop="" muted="">
          <source src="https://media.blueapron.com/home_page/Splash/brand-hero.mp4" type="video/mp4">
        </video>
        <div class="top-container">
          <div class="txt-center top-container--txt">
            <h2 class="hero-title js-hero-image-title">Ordena nuestras mejores recetas</h2>
            <a class="btn--orange get-cooking-btn" id="splash-get-cooking-btn" href="/users/sign_up" style="    color: white; padding-top: 10px; padding-bottom: 10px;">Comenzar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container marketing">
      <div class="row justify-content-md-center" style="padding: 50px">
        <div class="row">
          <div class="col-md-6" style="text-align:center">
            <h2 class="featurette-heading" style="text-align:center; margin-top: 80px">Descarga la App</h2>
            <p class="lead">Descarga nuestra app en Play Store</p>
          </div>
          <div class="col-md-6" style="text-align:center">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400/auto" alt="400×400" src="../../assets/img/Landing_Page.1.1.jpg"
              data-holder-rendered="true">
          </div>
        </div>
        <div class="row featurette">
          <div class="col-md-4 order-md-2" style="text-align:center">
            <h2 class="featurette-heading" style="text-align:center; margin-top: 80px">¡Escoje tus comidas!
              <span class="text-muted"></span>
            </h2>
            <p class="lead">Garantizamos la frescura de todos nuestros ingredientes y los entregamos hasta la comodidad de
              su casa.</p>
          </div>
          <div class="col-md-6 order-md-1" style="text-align:center">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400/auto" alt="400x400" src="../../assets/img/Landing_Page.1.2.jpg"
              data-holder-rendered="true">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="text-align:center">
            <h2 class="featurette-heading" style="text-align:center; margin-top: 80px">Crear magia</h2>
            <p class="lead">Siguiendo nuestras instrucciones paso a paso, experimentaras la magia de las recetas de cocina
              teniendo en cuenta los gustos de tu familia.</p>
          </div>
          <div class="col-md-4" style="text-align:center">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400/auto" alt="400×400" src="../../assets/img/Landing_Page.1.3.jpg"
              data-holder-rendered="true">
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 5px; margin: 30px;padding: 20px">
      <div class="col-md-3" style=" padding-top: 30px;">
        <hr size="40">
      </div>
      <div class="col-md-6">
        <div class="tittle text-center">
          <h2>¡Todo lo que puedes encontrar!</h2>
        </div>
      </div>
      <div class="col-md-3" style=" padding-top: 30px;">
        <hr size="40">
      </div>
    </div>
    <div class="container marketing">
      <div class="row justify-content-md-center" style="padding: 50px">
        <div class="col-lg-4" style=" text-align: center;">
          <img class="rounded-circle" src="http://arcdn.ar-cdn.com/recipes/large/8a5e4679-d1f0-498a-8dd8-a068bc47e5c1.jpg" alt="Generic placeholder image"
            width="140" height="140">
          <h2>Recetas</h2>
          <p>Descubre increíbles recetas para compartir con la familia o con los amigos.</p>
          <p>
            <button type="button" class="btn btn-info">Descubre</button>
          </p>
        </div>
        <div class="col-lg-4" style=" text-align: center;">
          <img class="rounded-circle" src="https://images-na.ssl-images-amazon.com/images/I/612C6O854OL.jpg" alt="Generic placeholder image"
            width="140" height="140">
          <h2>Productos</h2>
          <p>Descubre todas las frutas, verduras y productos que tenemos para ti.</p>
          <p>
            <button type="button" class="btn btn-info">Descubre</button>
          </p>
        </div>
      </div>
      <div class="row" style="padding-top: 5px; margin: 30px;padding: 20px">
        <div class="col-md-3" style=" padding-top: 30px;">
          <hr>
        </div>
        <div class="col-md-6">
          <div class="tittle text-center">
            <h2>¡Lo más Vendido de Nuestras Recetas!</h2>
            <p>Prepara, Dale tu toque, Disfruta y Saborea.</p>
          </div>
        </div>
        <div class="col-md-3" style=" padding-top: 30px;">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="text-align:center">
          <h2 class="featurette-heading" style="text-align:center">Chile Enogada.
            <span class="text-muted">Pruébalo.</span>
          </h2>
          <p class="lead">Prueba este platillo tan típico pero delicioso para cualquier momento en familia amigos o para
            salir de la cotidianidad.</p>
        </div>
        <div class="col-md-6" style="text-align:center">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400/auto" alt="400×400" style="width: 400px; height: 400px;"
            src="../../assets/img/Chile Enogada.jpg" data-holder-rendered="true">
        </div>
      </div>
      <hr>
      <div class="row featurette">
        <div class="col-md-6 order-md-2" style="text-align:center">
          <h2 class="featurette-heading" style="text-align:center">Enchiladas Suizas.
            <span class="text-muted">Pruebalas.</span>
          </h2>
          <p class="lead">¡Si sabes de cocina mexicana, conoces las enchiladas suizas! Prepáralas y disfruta con tu familia
            o amigos.</p>
        </div>
        <div class="col-md-6 order-md-1" style="text-align:center">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x400/auto" alt="400x400" src="../../assets/img/Enchiladas.jpg"
            data-holder-rendered="true" style="width: 400px; height: 400px;">
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 5px; margin: 30px;padding: 20px">
      <div class="col-md-3" style=" padding-top: 30px;">
        <hr size="40">
      </div>
      <div class="col-md-6">
        <div class="tittle text-center">
          <h2>¡Nuestras Categorías!</h2>
          <p>Encuentra recetas en nuestras categorías.</p>
        </div>
      </div>
      <div class="col-md-3" style=" padding-top: 30px;">
        <hr size="40">
      </div>
    </div>
    <div class="container marketing">
      <div class="row justify-content-md-center" style="padding: 50px">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/img/Recetas_Postres.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Postres</h5>
                    <p class="card-text">Descubre y prueba todos nuetros postres que tenemos para tí.</p>
                    <a href="#" class="btn btn-info" style="float:right">Ver más</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/img/Recetas_Vegetarianas.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Comida Vegetariana</h5>
                    <p class="card-text">Descubre y disfruta nustras recetas Vegetrianas.</p>
                    <a href="#" class="btn btn-info" style="float:right">Ver más</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/img/Recetas_Aperitivos.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Apertivos</h5>
                    <p class="card-text">Descubre y comparte, con tus amigos y familiares.</p>
                    <a href="#" class="btn btn-info" style="float:right">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container marketing">
      <div class="row justify-content-md-center" style="padding: 50px">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/img/Recetas_Saludable.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Mantener la Figura</h5>
                    <p class="card-text">¡Deseas comer mas sano sin tantas calorias!</p>
                    <a href="#" class="btn btn-info" style="float:right">Ver más</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/img/Recetas_Desayunos.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Desayunos</h5>
                    <p class="card-text">¡Comienza bien el día con un gran desayuno!</p>
                    <a href="#" class="btn btn-info" style="float:right">Ver más</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/img/Recetas_Guarniciones.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Plato fuerte</h5>
                    <p class="card-text">Puebra cada una de los Platos Fuertes que tenemos para tí.</p>
                    <a href="#" class="btn btn-info" style="float:right">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>